<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <style>
        table 
        {
            width: 100%;
            
        }

        
    </style>
</head>
<body>
    <h1>게시글 목록 웹페이지</h1>
    <td><a href="/article/create">신규게시글 작성</a></td>
    <table>
        <thead>
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>게시여부</th>
                <th>조회수</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>

        <tbody>
        
            <tr>
                </td>1</td>
                <td><a href="/article/modify?id=1">웹퍼블리셔의 업무에 대해 궁금해요</a></td>
            
                <td>게시</td>
                <td>152</td>
                <td>김동우</td>
                <td>2024.07.23</td>
            </tr>

            <tr>
                </td>2</td>
                <td><a href="/article/modify?id=2">집가고 싶어요</a></td>
                <td>게시</td>
                <td>15</td>
                <td>김동우</td>
                <td>2024.07.23</td>
            </tr>

            <tr>
                </td>3</td>
                <td><a href="/article/modify?id=3">잠와요</a></td>
                <td>게시</td>
                <td>12</td>
                <td>김동우</td>
                <td>2024.07.23</td>
            </tr>
            

        </tbody>
    </table>
</body>
</html>